.menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--frame-menu-width);
  background-color: #1A2638;
  transition: width var(--el-transition-duration);

  .menu-header {
    display: flex;
    height: 96px;
    padding: 4px 10px 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    .menu-header-log {
      flex: 0 0 50px;
      width: 50px;
      height: auto;
    }

    .menu-header-title {
      margin-left: 10px;
      font-size: 16px;
      color: #E9F1FF;
      text-shadow: 0 4px 4px rgba(0, 0, 0, .4);

      &.fade-enter-from, &.fade-leave-to {
        opacity: 0;
      }

      &.fade-enter-to, &.fade-leave-from {
        opacity: 1;
      }

      &.fade-enter-active, &.fade-leave-active {
        transition: opacity var(--el-transition-duration);
        //transition: opacity 0.3s;
      }
    }
  }

  .menu-line {
    width: 100%;
    height: 3px;
    background-color: #05152E;
    box-shadow: inset 0 1px 1px rgba(234, 234, 234, 0.25);
  }

  .menu-list {
    color: #E9F1FF;
    width: 100%;
    height: calc(100% - 96px - 3px);

    .menu-wrapper {
      width: 100%;
      border: none;
    }

    :deep(.el-menu--collapse) {
    }
  }
}

