:root {
  // 公共-默认标题高度
  --global-default-title-height: 58px;
  // 主体-标题宽度
  --main-header-widht: 1779px;
  // 主体-标题高度
  --main-header-height: 201px;
  // 后管-搜索垂直样式宽度
  --manage-search-vertical-width: 292px;
  --el-border-radius-base: 2px;
}
